@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);  
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F1F0E9;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins";
  background-image: linear-gradient(#515059 0.5px, transparent 0.5px), linear-gradient(to right, #515059 0.5px, transparent 0.5px);
  background-size: 32px 32px;
  background-color: #f2f2f2;
}

@media only screen and (max-width: 700px){
  body{
    background-image: linear-gradient(#515059 0.5px, transparent 0.5px), linear-gradient(to right, #515059 0.5px, transparent 0.5px);
    background-size: 32px 32px;
    background-color: #f2f2f2;
  }

}